[submodule "local/share/nvim/site/pack/git-plugins/start/languageclient-neovim"]
	path = local/share/nvim/site/pack/git-plugins/start/languageclient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "airline"]
	path = local/share/nvim/site/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "languageclient"]
	path = local/share/nvim/site/pack/git-plugins/start/languageclient
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "neo-pipe"]
	path = local/share/nvim/site/pack/git-plugins/start/neo-pipe
	url = https://github.com/coachshea/neo-pipe
[submodule "fzf"]
	path = local/share/nvim/site/pack/git-plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "floobits-neovim"]
	path = local/share/nvim/site/pack/git-plugins/start/floobits-neovim
	url = https://github.com/Floobits/floobits-neovim
[submodule "mirror.vim"]
	path = local/share/nvim/site/pack/git-plugins/start/mirror.vim
	url = https://github.com/zenbro/mirror.vim
[submodule "ultisnips"]
	path = local/share/nvim/site/pack/git-plugins/start/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "vim-airline-themes"]
	path = local/share/nvim/site/pack/git-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-fugitive"]
	path = local/share/nvim/site/pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-snippets"]
	path = local/share/nvim/site/pack/git-plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
