[submodule "local/share/nvim/site/pack/git-plugins/start/languageclient-neovim"]
	path = local/share/nvim/site/pack/git-plugins/start/languageclient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
