[submodule "local/share/nvim/site/pack/git-plugins/start/languageclient-neovim"]
	path = local/share/nvim/site/pack/git-plugins/start/languageclient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "airline"]
	path = local/share/nvim/site/pack/git-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "languageclient"]
	path = local/share/nvim/site/pack/git-plugins/start/languageclient
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "buildit"]
	path = local/share/nvim/site/pack/git-plugins/start/buildit
	url = https://github.com/wbthomason/buildit.nvim
[submodule "editorconfig"]
	path = local/share/nvim/site/pack/git-plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "neo-pipe"]
	path = local/share/nvim/site/pack/git-plugins/start/neo-pipe
	url = https://github.com/coachshea/neo-pipe
[submodule "fzf"]
	path = local/share/nvim/site/pack/git-plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "floobits-neovim"]
	path = local/share/nvim/site/pack/git-plugins/start/floobits-neovim
	url = https://github.com/Floobits/floobits-neovim
[submodule "mirror.vim"]
	path = local/share/nvim/site/pack/git-plugins/start/mirror.vim
	url = https://github.com/zenbro/mirror.vim
[submodule "ultisnips"]
	path = local/share/nvim/site/pack/git-plugins/start/ultisnips
	url = https://github.com/sirver/ultisnips
