general {
  colors = true
}

order += "volume master"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "wireless wlp107s0"
order += "battery 1"
order += "tztime local"

tztime local {
  format = "%H:%M on %m-%d"
}

cpu_usage {
  format = "⌨ %usage"
  separator = false
}

volume master {
}

cpu_temperature 0 {
  format = "%degrees °C"
  path = "/sys/devices/platform/coretemp.0/hwmon/hwmon2/temp1_input"
}

battery 1 {
        format = "%status %percentage %remaining %emptytime"
        format_down = "No battery"
        status_chr = "⚡ CHR"
        status_bat = "🔋 BAT"
        status_unk = "? UNK"
        status_full = "☻ FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

wireless wlp107s0 {
  format_up = "🌠 %essid %quality"
  format_down = "🌠 ❌"
}

